.App {
  display: flex;
  flex-direction: column;

  .App-header {
    display: flex;
    flex-direction: row;
    height: 50px;
    font-size: 1em;

    .back-button {
      display: flex;
      align-items: center;
      padding: 5px 10px;
    }
  }

}